@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

/* @import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Nunito');

body{
  text-align: center;
  /* background-image: linear-gradient(#ffffff, #e7e7e7); */
  /* background-image: linear-gradient(#ffffff, #d1d8ff); */
  /* background-image: linear-gradient(#d8dbf3, #edfafb); */
  background-image: linear-gradient(#7da59f, #396b6e);
  box-shadow: inset 0 0 0 1000px rgba(255,255,255,0.1);
  min-height: 100%;
  z-index: 0;
}

h3{
	 font-size: 46px;
}

.button{
  /* background-color: #f5f5f5; */
  background-color: #ebebeb;
  border-radius: 30px;
  color: #1b2932;
  font-size: 15px;
  font-weight: bold;
}


footer{  
	/* padding: 0 20em 0 20em; */
  color: #cfcfcf;
	position: relative;
  bottom: 0;  
  background-color: #1b2932;
  border-top: thin;
}


p{
  padding-left:  90px;
  padding-right: 90px;
  font-size: 18px;
}


#about-me{
  /* font-family: 'Signika Negative', sans-serif; */
  font-family: 'Nunito';
  position: relative;
  z-index: 2;
  color: white;
  /* font-size: 28px; */
}


/* ==== blobs y formas ==== https://www.blobmaker.app/*/
#blob-1{
  position: absolute;
  top: 0;
  right: 0;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  /* para que funciona z-index se deben cumplir https://dev.to/ibn_abubakre/why-your-z-index-isn-t-working-i6j */
  /* opacity: 0.5; */
}
#blob-1 svg path{
  /* fill: rgb(241, 252, 253); */
  fill: rgb(140 171 175);
}

#blob-2{
  position: absolute;
  top: 15em;
  left: -11em;
  /* opacity: 0.5; */
}
#blob-2 svg path{
  /* fill: #e2fff0; */
  fill: rgb(140 171 175);
}


/* 
hr {
  display: inline-block;
  border-style: inset;
  border-width: 2px;
  width: 70%;
} */


/* gap de 1 pixel entre cada div cuando se hace zoom, ni idea porque
div{
  margin: -1px;
} */




/* ==== items a cada uno de los proyectos ==== */
.projects .item{
  /* background-color: #d67e7e; */
  background-color: #76c6da;
  border-radius: 15px;
}

.item:hover{
  background-color: #b9ff68;
}

.hovered{
  background-color: #b9ff68;
}



.item > a{
  color: #1b2932;
  font-size: 20px;
  font-weight: bold;
}

.items{
  gap: 30px;
  margin-top: 20px;
  width: 100%;
}





/* ==== contacto ==== */
/* curva separadora de footer 
obtenida de https://www.shapedivider.app/
*/
.curva-contacto {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.curva-contacto svg {
  position: relative;
  display: block;
  width: calc(119% + 1.3px);
  height: 41px;
  transform: rotateY(180deg);
}
.curva-contacto .shape-fill {
  fill: #1b2932;
}


/* iconos seccion contacto */
#links > .columns .column{
  margin-top: 10px;
  margin-bottom: 10px;
}

#titulo-contacto{
  text-align: center;
  width:100%;
  /* subrayado con un skew de 10 grados */
}



/* ==== titulos ==== */
.titulo {
  text-align: center;
  width:100%;
  padding: 20px 0px 20px 0px;
  /* height: 100%; */
}

.titulo > span {
  /* personalizar el interior del titulo  */
  height: 50px;
  padding: 13px;
  border-radius: 30px 10px;
  width:100px; 
  /* background: #7b6cce; */
  background: #b9ff68;
  font-weight: bold;
}



/* ==== iconos png/svg/etc ==== */
.llenar-color{
  transition: all 0.025s linear;
  /* background-color: #6fbcd3; */
  filter: invert(50%) sepia(8%) saturate(22%) hue-rotate(344deg) brightness(94%) contrast(88%);
}
.llenar-color:hover{
  /* background-color: #6fbcd3; */
  filter: invert(80%) sepia(11%) saturate(1705%) hue-rotate(157deg) brightness(87%) contrast(89%);
  /* computar filtros: por la increible herramienta de Barrett Sonntag
  https://codepen.io/sosuke/pen/Pjoqqp */
  /* agrandar ligeramente el tamaño con una animacion  */
  transform: scale(1.1);
  transition: all 0.1s linear;
}




/* ==== descripcion para cada item ==== */
.bloque{
  /* background-color: #c9c9c9; */
  /* background-color: #ffffff; */
  background-color: #9ec0c5;
  border-radius: 10px 40px;
  /* padding: 0.5%; */
  /* height: 130px; */
  /* width: 100%; */
  margin-left: 10%;
  margin-right: 10%;
  /* border: 1px solid #dddddd; */
  /* color: white; */ 
  flex-direction: column;
  display: inline-flex; 
  
  /* align-items: center; */
  /* padding interno */
  padding: 5px;

}
.bloque #imagenes{
  /* background-color: #1b2932; */
  display: flex;
  flex-direction: row;
  gap: 5px; 
}
.bloque p{
  padding: 10px;
}

.bloque #links{
  
  display: flex; 
  flex-direction: row;
  /* align-items: flex-end; */
  justify-content: flex-end;
  /* margin-left: 85%; */
  gap: 10px; 
}

.bloque .wrapper-img-titulo{
  display: flex;
  flex-direction: row;
  
  justify-content:space-between;
  /* margin-left: 85%; */
}

/* TODO: no debe ser con margin sino que tome de referencia el wraper img-titulo completo */
.bloque .wrapper-img-titulo h4{
  margin-right: 45%;
  font-size: 20px;
  font-weight: bold;
}



