@charset "UTF-8";
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import "https://cdn.jsdelivr.net/npm/@creativebulma/bulma-tooltip@1.2.0/dist/bulma-tooltip.min.css";
/* @import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Nunito");
* {
  z-index: 2;
}

html {
  margin: 0 auto;
  background-color: #1b2932;
  max-width: 2100px;
}

#top {
  position: relative;
}

body {
  text-align: center;
  /* background-image: linear-gradient(#ffffff, #e7e7e7); */
  /* background-image: linear-gradient(#ffffff, #d1d8ff); */
  /* background-image: linear-gradient(#d8dbf3, #edfafb); */
  background-image: linear-gradient(#7da59f, #396b6e);
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.1);
  color: #242424;
}

h3 {
  font-size: 46px;
}

.button {
  /* background-color: #f5f5f5; */
  background-color: #ebebeb;
  border-radius: 30px;
  color: #1b2932;
  font-size: 15px;
  font-weight: bold;
  padding: 5px;
  transition: background-color 0.15s;
}
.button:hover {
  background-color: #d8d8d8;
}

footer {
  /* padding: 0 20em 0 20em; */
  color: #cfcfcf;
  position: relative;
  bottom: 0;
  background-color: #1b2932;
  height: 100%;
  /* gap de 1 pixel entre cada div cuando se hace zoom, ni idea porque */
  margin: -1px;
}

.about-me {
  position: relative;
}
.about-me p {
  /* font-family: 'Signika Negative', sans-serif; */
  font-family: "Nunito";
  background-color: #9ec0c5;
  margin: 20px 90px 0px 90px;
  padding: 25px;
  border-radius: 15px;
  font-size: 18px;
  text-align: center;
}

/* ==== blobs y formas ==== https://www.blobmaker.app/ */
.blob {
  position: absolute;
  z-index: -1;
  overflow: hidden;
}

/* para que funciona z-index se deben cumplir https://dev.to/ibn_abubakre/why-your-z-index-isn-t-working-i6j */
#blob-1 {
  top: 0;
  right: 0;
}

#blob-2 {
  top: 15em;
  left: 0em;
  /* opacity: 0.5; */
}
#blob-2 svg path {
  /* fill: #e2fff0; */
  fill: rgb(140, 171, 175);
}

#blob-3 {
  top: 50em;
  right: 0;
}
#blob-3 svg path {
  /* fill: #8cabaf; */
  stroke-dasharray: 2 3;
  stroke-width: 0.5;
  /* stroke: black; */
  stroke: #8cabaf;
}

hr {
  display: inline-block;
  border-style: inset;
  border-width: 2px;
  width: 70%;
}

.projects {
  margin: 0 10px 0 10px;
}

/* ==== items a cada uno de los proyectos ==== */
.projects .item {
  /* background-color: #d67e7e; */
  background-color: #76c6da;
  border-radius: 15px;
}

.items {
  gap: 15px;
  margin-top: 20px;
}
.items a {
  color: #1b2932;
  font-size: 20px;
  font-weight: bold;
}
.items .active-item {
  background-color: #b9ff68;
}

#boton-idioma {
  position: absolute;
  top: 3px;
  right: 3px;
  transition: width 0.2s;
  width: 90px;
}

#boton-idioma.active-lang {
  width: 75px;
}

/* ==== contacto ==== */
/* curva separadora de footer 
obtenida de https://www.shapedivider.app/
*/
.curva-contacto {
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.curva-contacto svg {
  position: relative;
  display: block;
  width: calc(119% + 1.3px);
  height: 41px;
  transform: rotateY(180deg);
}
.curva-contacto .shape-fill {
  fill: #1b2932;
}

/* iconos seccion contacto */
#links-footer > .columns .column {
  margin-top: 10px;
  margin-bottom: 10px;
}

.contacto-title {
  text-align: center;
  transform: skew(-10deg);
  padding: 10px 0px 0px 0px;
}

#hand-emoji {
  display: inline-block;
}

/* ==== titulos ==== */
.titulo {
  text-align: center;
  padding: 20px 0px 10px 0px;
  /* height: 100%; */
}
.titulo span {
  /* personalizar el interior del titulo  */
  height: 50px;
  padding: 13px;
  border-radius: 30px 10px;
  width: 100px;
  /* background: #7b6cce; */
  /* background: #b9ff68; */
  background: #57ffb9;
  font-weight: bold;
}

/* ==== iconos png/svg/etc ==== */
.llenar-color {
  transition: all 0.025s linear;
  /* background-color: #6fbcd3; */
  filter: invert(50%) sepia(8%) saturate(22%) hue-rotate(344deg) brightness(94%) contrast(88%);
}
.llenar-color:hover {
  /* background-color: #6fbcd3; */
  filter: invert(80%) sepia(11%) saturate(1705%) hue-rotate(157deg) brightness(87%) contrast(89%);
  /* computar filtros: por la increible herramienta de Barrett Sonntag
  https://codepen.io/sosuke/pen/Pjoqqp */
  /* agrandar ligeramente el tamaño con una animacion  */
  transform: scale(1.15);
  transition: all 0.1s linear;
}

/* ==== descripcion para cada item ==== */
.bloque {
  position: relative;
  /* background-color: #c9c9c9; */
  /* background-color: #ffffff; */
  background-color: #9ec0c5;
  border-radius: 10px 40px;
  margin-left: 10%;
  margin-right: 10%;
  flex-direction: column;
  display: inline-flex;
  font-family: "Nunito";
  /* align-items: center; */
  /* padding interno */
  padding: 5px;
  /* TODO: no debe ser con margin sino que tome de referencia el wraper img-titulo completo */
}
.bloque #imagenes {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.bloque p {
  padding: 10px;
}
.bloque .wrapper-img-titulo {
  display: flex;
  white-space: nowrap;
  justify-content: space-between;
}
.bloque .wrapper-img-titulo h4 {
  margin-right: 45%;
  font-size: 20px;
  font-weight: bold;
}

.links {
  display: flex;
  justify-content: right;
  gap: 5px;
}

#back-to-top {
  border-radius: 50%;
  padding: 4px 12px 0px 12px;
  transition: padding 0.2s;
}
#back-to-top:hover {
  padding: 0px 12px 4px 12px;
  border-color: #1b2932;
  border-width: 3px;
  outline-color: #1db3b3;
  outline-style: solid;
  outline-width: 2px;
}

.bloque p a, #about-me a {
  position: relative;
}
.bloque p a::before, #about-me a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: slateblue;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.bloque p a:hover::before, #about-me a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

@media screen and (max-width: 768px) {
  #about-me {
    margin: 20px 10px 0px 10px;
    padding: 15px;
    font-size: 15px;
  }
  #contacto-texto {
    margin: 0% 2% 0% 2%;
  }
  .bloque {
    margin: 0% -2% 0% -2%;
  }
  .bloque .wrapper-img-titulo h4 {
    margin-right: 0;
  }
  .wrapper-img-titulo {
    flex-direction: column;
    align-items: center;
  }
  .projects {
    margin: 0px 20px 0px 20px;
  }
}/*# sourceMappingURL=styles.css.map */